<app-header></app-header>

<div *ngIf="msg">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error!</strong> Kindly add required fields.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<form [formGroup]="createNewsForm" (ngSubmit)="saveCreatedNews()">
    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="container w-75 p-5 border border-primary">
            <h1 class="text-center text-primary mt-4">Welcome to Create New News</h1>
            <div class="form-group">
                <label>News name<span class="text-danger">*</span> :</label>
                <input type="text" maxlength="30" formControlName="news_name" class="form-control" placeholder="Enter your news name.">
            </div>
            <div class="form-group mt-3">
                <label>News description<span class="text-danger">*</span> :</label>
                <input type="text" maxlength="90" formControlName="news_desc" class="form-control" placeholder="Enter your news description.">
            </div>
            <div class="form-group mt-3">
                <label>News image<span class="text-danger">*</span> :</label>
                <input type="text" formControlName="news_img" class="form-control" placeholder="Enter your news image.">
            </div>
            <div class="form-group mt-3">
                <label>News details<span class="text-danger">*</span> :</label>
                <input type="text" formControlName="news_detail" class="form-control" placeholder="Enter your news detail.">
            </div>
            <div class="mt-3 text-center">
                <button class="btn btn-primary">Create</button>
                <button class="btn btn-warning m-3" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</form>

<app-footer></app-footer>