<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(234, 231, 231);">
    <div class="container-fluid main">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 header-item">
                <li class="nav-item">
                    <a class="navbar-brand" href="https://www.gs-it-group.com/de/home"><b>G&S IT GROUPS</b></a>
                </li>
            </ul>
            <span class="navbar-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 header-item">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" (click)="dashboard()">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="details()">More-News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="Signin()">Signin?</a>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</nav>