::placeholder {
    text-align: center;
}

label {
    font-size: 18px;
}

input {
    font-size: 15px;
    padding: 5px;
}

.btn {
    padding: 5px 10px;
    font-size: 15px;
    width: 20%;
}

h1 {
    font-size: 30px;
}